<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/static/component/pear/css/pear.css" />
    <link href="/static/admin/css/other/error.css" rel="stylesheet" />
</head>
<body>
<div class="content">
    <img src="/static/admin/images/500.svg" alt="">
    <div class="content-r">
        <h1>Sorry</h1>
        <p>Not Found</p>
        <a class="pear-btn pear-btn-primary" href="/system">返回首页</a>
    </div>
</div>
<script src="/static/component/layui/layui.js"></script>
<script src="/static/component/pear/pear.js"></script>
</body>
</html>
